.Expertise {
    width: 100vw;
    height: 500px;
    padding-bottom: 20px;
    background: linear-gradient(rgb(6, 7, 9), rgb(64, 88, 95));
}

.Expertise h1 {
    padding-top: 30px;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 50%;
    font-size: 30px;
    font-weight: bold;
    border-bottom: solid 3px white;
}

.sub-header{
    font-weight: bold;
}

.tech-container{
    font-size: 16px;
    font-weight: bold;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    text-align: left;
    padding-left: 10px;
}

.tech-container li {
list-style: none;
padding: 12px;
}

@media (min-width: 700px) {
  .Expertise h1 {
      width: 25%;
  }

  .tech-container {
      margin: 10px auto;
    width: 70%;
  }
}

@media (min-width: 999px) {
    .Expertise {
        height: auto;
    }

    .Expertise h1 {
        width: 15%;
    }
  }