.About {
    padding-top:46px;
    height: 900px;
    width: 100vw;
    background-image: url("../../assets/galaxy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bio-img {
    object-fit: cover;
    margin-top: 30px;
    height:200px;
    width: 200px;
    border-radius: 100%;
}

.bio-description{
    padding: 0 40px 20px 40px;
    font-weight: bold;
    letter-spacing: 1px;
}

@media (min-width: 700px) {
    .bio-img{
        margin-top: 50px;
    }
    .bio-description {
        padding: 0 70px 20px 70px;
    }
}

@media (min-width: 900px) {
    .About {
        height: 800px;
    } 

    .bio-description {
        padding: 20px 200px;
    } 
}