.Contact {
    height: 500px;
    width: 100vw;
    border: 2px solid green;
    background-color: green;
}

.Contact ul {
    list-style: none;
    color: white;
}

.Contact ul li {
    font-weight: bold;
    font-size: 20px;
}