#App {
  width:100vw;
  height:100vh;
}

.nav-container {
  position: fixed;
  top:0;
  width: 100vw;
  background-color: blue;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: right;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}

#test {
  height: 500px;
  width: 100vw;
}




